<h4>Sign up below</h4>

<form method="POST" action="register">
<style>
    h5 {
        color: red;
    }
</style>
    {% for message in messages %}
    <h5> {{ message }}</h5>
    {% endfor %}

    {% csrf_token %}
    <p>Username: </p>
    <input type="text" name="username"/>
    <p>Email:</p>
    <input type="email" name="email"/>
    <P>Password:</P>
    <input type="password" name="password"/>
    <p>Repeat password:</p>
    <input type="password" name="password2"/><br>
    <input type="submit"/>

</form>